{% extends 'base.html' %} 

{% block content_title %}
    Bienvenido a Bookish Online
{% endblock content_title %}

{% block content %}
    
    <p class="lead text-center mb-5">
        Tu plataforma para crear, gestionar y publicar reseñas de libros online.
    </p>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        
        <div class="col">
            <a href="{% url 'crear_libro' %}" class="card h-100 text-decoration-none border-success shadow-lg">
                <div class="card-body text-center">
                    <h5 class="card-title text-success">Crear Nueva Reseña</h5>
                    <p class="card-text text-muted">
                        Añade el título, autor y la sinopsis de un nuevo libro.
                    </p>
                </div>                
                <div class="card-footer bg-success text-white">
                    Ir a Cargar Post→
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'lista_libros' %}" class="card h-100 text-decoration-none border-primary shadow-lg">
                <div class="card-body text-center">
                    <h5 class="card-title text-primary">Explorar Catálogo de Reseñas</h5>
                    <p class="card-text text-muted">
                        Revisa todos los libros publicados y sus sinopsis.
                    </p>
                </div>                
                <div class="card-footer bg-primary text-white">
                    Ir al Blog →
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'sobre_nosotros' %}" class="card h-100 text-decoration-none border-secondary shadow-lg">
                <div class="card-body text-center">
                    <h5 class="card-title text-secondary">Sobre Nosotros</h5>
                    <p class="card-text text-muted">
                        Conoce nuestra misión como plataforma de contenido literario.
                    </p>
                </div>                
                <div class="card-footer bg-secondary text-white">
                    Ver Historia →
                </div>
            </a>
        </div>
        
    </div>
    
{% endblock content %}