{% extends 'base.html' %} 

{% block content_title %}
    Catálogo de Libros y Reseñas
{% endblock content_title %}


{% block content %}

    {% if libros %}
        {% for libro in libros %}
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    
                    <div class="d-flex justify-content-between align-items-baseline">
                        <h2 class="card-title mb-0">{{ libro.titulo }}</h2>
                        <small class="text-muted text-nowrap">
                            Publicado el {{ libro.fecha_publicacion|date:"d F Y" }}
                        </small>
                    </div>
                    <p class="card-subtitle text-muted mb-3">
                        Autor: <strong>{{ libro.autor }}</strong>
                    </p>
    
                    <p class="card-text descripcion-breve">
                        {{ libro.sinopsis | truncatechars:200 }} 
                    </p> 
                                        
                </div>
            </div>
        {% endfor %}

    {% else %}
            {% endif %}
    
    <div class="text-center mt-5">
        <a href="{% url 'inicio' %}" class="btn btn-outline-secondary">Volver a la Página Principal</a>
    </div>
{% endblock content %}